<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/xadmin.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/xadmin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
</head>
<body>
   你好1111
</body>
</html>